*{
    margin: 0;
    padding: 0;
    font-family:'Rubik', sans-serif;
}
header {
    width: 100%;
    height: 100vh;
    background-color: white;
}
.navsection{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    background-color: white;
}


nav {
    padding-top: 10px;
    width: 100%;
    padding-right: 100px;
    box-sizing: border-box;
}
.logo {
    width: 100%;
    padding-left: 100px;
    box-sizing: border-box;
}
nav ul{
    display: flex;
}